/********************
 * FEATURE CAROUSEL *
 ********************/
.carousel-container {
  position:relative;
}
#carousel {
  height:280px;
  width:900px;
  position:relative;
  margin: 0 auto;
  margin-top:50px;
  font-size:12px;
  font-family: Arial;
}
.carousel-image {
  border:0;
  display:block;
  width: 200px;
  height: 300px;
}
.carousel-feature {
  position:absolute;
  top:-1000px;
  left:-1000px;
  border:2px solid #575353;
  cursor:pointer;
}
.carousel-feature .carousel-caption {
  position:absolute;
  bottom:0;
  width:100%;
  background-color:#000;
}
.carousel-feature .carousel-caption p {
  margin:0;
  padding:5px;
  font-weight:bold;
  font-size:12px;
  color:white;
}
.tracker-summation-container {
  display: none;
  position:absolute;
  color:white;
  right:48px;
  top:230px;
  padding:3px;
  margin:3px;
  background-color:#000;
}
.tracker-individual-container {
  display: none;
  position:absolute;
  color:white;
  right:48px;
  top:210px;
  padding:0;
  margin:0;
}
.tracker-individual-container li {
  display: none;
  list-style:none;
}
.tracker-individual-container .tracker-individual-blip {
  margin:0 3px;
  padding:0 3px;
  color:white;
  text-align:center;
  background-color:#DDD;
}
.tracker-individual-container .tracker-individual-blip-selected {
  color:white;
  font-weight:bold;
  background-color:#000;
}
#carousel-left {
  position:absolute;
  bottom:82px;
  left:270px;
  cursor:pointer;
}

#carousel-right {
  position:absolute;
  bottom:82px;
  right:270px;
  cursor:pointer;
}